.d-flex {
    display: flex;
}

.flex-col {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.border-box {
    border: 2px solid red;
    justify-content: center;
    display: flex;
    height: 100%;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    line-height: 1em;
    font-weight: 700;
    flex-direction: column;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .9em;
    padding: 10px;
        min-height: 110px;
}
.pt-2 {
    padding-top: 2em;
}
.border-box i {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.border-box.green_1 {
    border-color: #3CE194 ;
    color: #3CE194 ;
}

.border-box.green_2 {
    border-color: #1DC524 ;
    color: #1DC524;
}
.border-box.green_3 {
    border-color: #0A7D0F;
    color: #0A7D0F;
}
.border-box.green_4 {
    border-color: #3CD6D6;
    color: #3CD6D6;
}
.border-box.green_5 {
    border-color: #009999;
    color: #009999;
}
.border-box.green_6 {
    border-color: #1C5C94;
    color: #1C5C94;
}

.team_box .pic {
    width: 120px;
    height: 120px;
}

.team_box .pic img {
    border-radius: 50%;
    width: 100%;
}

.btn-border-grey-blue {
    border-color: #8f8f8f;
}

.btn-border-grey-blue:hover{
    border-color: #104591;
    background-color: #104591;
    color: #fbfbfb;
}

.team_box .t {
    font-size: 1.2em;
    font-weight: 700;
        white-space: nowrap;
}

.team_box .d {
    color: #104591;
}

.team_box .dd {
    font-size: .8em;
}

.desc .btn {
    margin-top: 15px;
}

#team_carousel .owl-prev, #team_carousel .owl-next {
    background: #104591 !important;
    border-radius: 50% !important;
    padding: 4px !important;
    width: 2em;
    height: 2em;
}